@model MutantFactions.Models.Student
<link href="~/style.css" rel="stylesheet" />

<div class="form">
<h2>Welcome Fellow Mutants!</h2>
<h4>Please register your profile:</h4>

    <form method="post">
        <label for="RealName">Real Name:</label>
        <input maxlength="20" name="RealName" /><br />

        <label for="CodeName">Alias/Code Name:</label>
        <input maxlength="20" name="CodeName" /><br />

        <label for="MutantPower">Mutant Power:</label>
        <input maxlength="30" name="MutantPower" /><br />

        <label for="MutantFaction">Mutant Faction:</label>
        <select name="MutantFaction">
            <option value="X-Men">X-Men</option>
            <option value="X-Force">X-Force</option>
            <option value="X-Factor">X-Factor</option>
            <option value="New Mutants">New Mutants</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</div>