@model IEnumerable<EntityFramework.Models.Hogwarts>
<link href="~/StyleSheet.css" rel="stylesheet" />

<header>
    <h1>Welcome to Hogwarts!</h1>
</header>

<body>
    <h2>Students Enrolled</h2>

   
       


    <table>

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>House</th>
        </tr>
        @foreach (var i in Model)
    {


        <tr>
            <td>@i.FirstName</td>
            <td>@i.LastName</td>
            <td>@i.Phone</td>
            <td>@i.House</td>
        </tr>
}
    </table>
</body>