@using MeadHighSchool.Models;
@model IEnumerable<Student>;
<h1>Mead High School</h1>
<ul id:"topmenu">
    <li>Add</li>
    <li>Edit</li>
    <li>Remove</li>
</ul>
<h3>Student Roster</h3>
<ul id:"content">
    <li>
        <ul>
            <li><p>Student ID: @ </p></li>
            <li><p>Name: @ </p></li>
            <li><p>Home Class: @ </p></li>
            <li><p>Phone Number: @ </p></li>
            <br />
        </ul>
    </li>
</ul>
